body { background: #88f4b8; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 10px; display: flex; }
.block-shipping-0 { color: #eb9456; font-size: 12px; margin-bottom: 5px; }
.block-order-1 { color: #7da95e; font-size: 12px; margin-bottom: 5px; }
.block-email-2 { color: #129b0f; font-size: 21px; margin-bottom: 5px; }
.block-user-3 { color: #7a70e6; font-size: 17px; margin-bottom: 5px; }
.block-search-4 { color: #4c1b38; font-size: 17px; margin-bottom: 5px; }